@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 125%; /* Increase base font size from 16px to 20px */
}

/* Remove default margins from header and main sections */
header,
section {
  margin: 0;
  padding: 0;
}

body {
  color: #fff !important;
  background-color: #3d1e08; /* Match hero bg to avoid contrast issues */
  
}body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media print {
  section.hero {
    page-break-after: avoid;
  }
  section.banner {
    page-break-before: avoid;
  }
}